# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
test-output/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
*.log